{
  "env": {
    "test": {
      "presets": ["env", "stage-0"]
    },
    "production": {
      "presets": [
        ["env", { "modules": false }], "stage-0"
      ],
      "plugins": ["external-helpers"],
    }
  }
}
